<div class="authform">
  <%= bootstrap_form_for(resource, as: resource_name, url: confirmation_path(resource_name), html: { method: :post, role: 'form' }) do |f| %>
    <h3>Resend confirmation</h3>
    <p>We'll resend your e-mail confirmation instructions.</p>
    <%# devise_error_messages! %>
    <%= f.email_field :email, autofocus: true %>
    <%= f.submit "Resend", class: 'button right' %>
  <% end %>
  <%= render "devise/shared/links" %>
</div>
