---
http_interactions:
- request:
    method: get
    uri: https://:3aE%2F8Du531krOVcT%2F%2BR%2FkQZtTnq1WXZ3OUkzSRE1qMc@api.datamarket.azure.com/Bing/Search/v1/Composite?$format=json&$skip=74500&$top=100&Query='xbox'&Sources='Image'
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Activityid:
      - 7d09c2ee-bba7-4044-bd6f-d6cc7c6f5de9
    body:
      encoding: UTF-8
      string: '{"d":{"results":[{"__metadata":{"uri":"https://api.datamarket.azure.com/Data.ashx/Bing/Search/v1/Composite?Sources=\u0027Image\u0027&Query=\u0027xbox\u0027&$skip=3&$top=1","type":"ExpandableSearchResult"},"ID":"88b6d916-a5cd-43e7-b687-99b134cc6bbb","WebTotal":"","WebOffset":"","ImageTotal":"74400","ImageOffset":"74399","VideoTotal":"","VideoOffset":"","NewsTotal":"","NewsOffset":"","SpellingSuggestionsTotal":"","AlteredQuery":"","AlterationOverrideQuery":"","Web":[],"Image":[{"__metadata":{"uri":"https://api.datamarket.azure.com/Data.ashx/Bing/Search/v1/ExpandableSearchResultSet(guid\u002788b6d916-a5cd-43e7-b687-99b134cc6bbb\u0027)/Image?$skip=0&$top=1","type":"ImageResult"},"ID":"42b62a6a-6140-4249-995a-9ab1ded7f1d1","Title":"Description
        Xbox-360S-Console-Set.jpg","MediaUrl":"http://upload.wikimedia.org/wikipedia/commons/7/76/Xbox-360S-Console-Set.jpg","SourceUrl":"http://en.wikipedia.org/wiki/File:Xbox-360S-Console-Set.jpg","DisplayUrl":"en.wikipedia.org/wiki/File:Xbox-360S-Console-Set.jpg","Width":"2440","Height":"3360","FileSize":"2305578","ContentType":"image/jpeg","Thumbnail":{"__metadata":{"type":"Bing.Thumbnail"},"MediaUrl":"http://ts3.mm.bing.net/th?id=HN.608005071090615450&pid=15.1","ContentType":"image/jpg","Width":"348","Height":"480","FileSize":"10155"}},{"__metadata":{"uri":"https://api.datamarket.azure.com/Data.ashx/Bing/Search/v1/ExpandableSearchResultSet(guid\u002788b6d916-a5cd-43e7-b687-99b134cc6bbb\u0027)/Image?$skip=1&$top=1","type":"ImageResult"},"ID":"58ac349a-1e8b-4f51-a616-b68b5bdae2f4","Title":"the
        xbox 360 is a seventh generation game cons[...]
