---
http_interactions:
- request:
    method: post
    uri: https://graph.facebook.com/oauth/access_token
    body:
      encoding: UTF-8
      string: client_id=775337459177377&client_secret=d5eb4d69011e72718f065415cf84a453&grant_type=client_credentials
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/plain; charset=UTF-8
    body:
      encoding: UTF-8
      string: access_token=775337459177377|GovtBhW2wB1iTbalO3OOyeY7yUE
  recorded_at: Thu, 10 Jul 2014 15:13:46 GMT
- request:
    method: get
    uri: https://graph.facebook.com/debug_token?access_token=775337459177377%7CGovtBhW2wB1iTbalO3OOyeY7yUE&appsecret_proof=c8f67ce62e9a5de9e85dd5345f1e14db548de3a60bc3a803a7487103aed64f86&input_token=invalidfacebooktoken
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Etag:
      - '"7a4676d9194ea732286319a6be42c0eb761174e5"'
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"data":{"error":{"message":"Invalid OAuth access token.","code":190},"is_valid":false}}'
  recorded_at: Thu, 10 Jul 2014 15:13:46 GMT
recorded_with: VCR 2.9.2
