---
http_interactions:
- request:
    method: post
    uri: https://api.twitter.com/1.1/statuses/update.json
    body:
      encoding: UTF-8
      string: status=Check+my+new+card+on+%23Hyper%3A+http%3A%2F%2Fhyper.test%2Fc%2F4z
    headers:
      Authorization:
      - OAuth oauth_consumer_key="0BJUxiEmDNqTe357r62QBSAAA", oauth_nonce="103289b7996201c7721319ff2a5c7a70",
        oauth_signature="NvOxHURmoi6Fi8isaKWDpHVQE3g%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1411142326", oauth_token="abdcef2", oauth_version="1.0"
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: Created
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Connection-Hash:
      - 0565f6df02285913f332485f4e4615bf
    body:
      encoding: UTF-8
      string: '{"coordinates":null,"favorited":false,"created_at":"Wed Sep 05 00:37:15 +0000 2012","truncated":false,"id_str":"243145735212777472","entities":{"urls":[],"hashtags":[],"user_mentions":[]},"in_reply_to_user_id_str":null,"text":"I have created a card","contributors":null,"retweet_count":0,"id":243145735212777470,"in_reply_to_status_id_str":null,"geo":null,"retweeted":false,"in_reply_to_user_id":null,"place":null}'
  recorded_at: Fri, 19 Sep 2014 15:58:47 GMT
recorded_with: VCR 2.9.2
