body	{
		-webkit-font-smoothing: antialiased; /* Fix for webkit rendering */
}

.dark-grey{color: #909090;}
.light-grey{color: #C2C2C2;}

.hyper-icon{
  width: 50px;
  height: 50px;
  margin: 20px 0px 0px 5px;
}

h4	{
	font-size: 42px;
	line-height: 52px;
	margin-bottom: 30px;
	font-weight: 600;
}

img {
	margin: 60px auto 20px;
}

.caption	{
	margin-bottom: 40px;
}

.app_icon	{
	position: absolute;
	z-index: 999;
	right:0;
	padding: 10px;
  img{ margin: 10px 0px; }
}

@media (max-width: 480px) {

  .card-container {
    font-size: 9px;
  }

  .main{
    width: 100%;
  }

  .avatar{
    width: 30px;
  }

  .messages {
    margin-top:40px;
  }

  img {
    margin: 0px auto;
  }
}

@media(min-width:600px){
  .main{
    width: 800px;
  }

  .avatar{
    width: 50px;
  }

  .messages {
    margin-top:70px;
  }
}
