<!DOCTYPE html>
<html>
  <head>
    <%= render 'layouts/head' %>
  </head>
  <body>
    <header>
      <%# render 'layouts/navigation' %>
    </header>
    
    <div class="app_icon"><a href="https://itunes.apple.com/us/app/hyper/id928505941?ls=1&mt=8" target="_blank"><img src="http://hyp.me/img/app_store.png"></a></div>
    
    <main role="main">
      <div class="row">
        <div>
           <a href="/" title="Go to Hyper home">
            <%= image_tag ("hyper_icon.png"), class: "hyper-icon" %>
          </a>
        </div>
      </div>

       <%= render 'layouts/messages' %>
       <%= yield %>
    </main>
  </body>
</html>
