<!DOCTYPE html>
<html>
  <head>
    <%= render 'layouts/head' %>
  </head>
  <body>
    <header>
      <%# render 'layouts/navigation' %>
    </header>
    <main role="main">
      <div class="row">
        <div>
           <a href="/" title="Go to Hyper home">
            <%= image_tag ("hyper_icon.png"), class: "hyper-icon" %>
          </a>
        </div>
      </div>

       <%= render 'layouts/messages' %>
       <%= yield %>
    </main>
  </body>
</html>
